<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mm.repository.mapper.SqlTranInqMapper">

	<select id="S001" parameterType="map" resultType="java.util.HashMap" fetchSize="50" ><![CDATA[		
		select distinct
        T_ENG_TABLE_NAME  as ATBL     /*TOBE테이블영문명*/
      , T_KOR_TABLE_NAME  as ATBLNM   /*TOBE테이블한글명*/
      , A_ENG_TABLE_NAME  as TBL      /*ASIS테이블영문명*/
      , A_KOR_TABLE_NAME  as TBLNM    /*ASIS테이블한글명*/
   from META_TABLE_MAP
  WHERE T_ENG_TABLE_NAME IS NOT NULL
    AND A_ENG_TABLE_NAME IS NOT NULL]]>
	</select>
	
	<select id="S002" parameterType="map" resultType="java.util.HashMap" fetchSize="50" ><![CDATA[
		/* IO:mm.repository.mapper.SqlTranInqMapper.S002 */
		SELECT IFNULL(T_ENG_TABLE_NAME ,'NULL')  AS ATBL    /*TOBE테이블영문명*/
      ,IFNULL(T_KOR_TABLE_NAME,'NULL')   AS ATBLNM  /*TOBE테이블한글명*/
      ,IFNULL(T_ENG_COLUMN_NAME,'NULL')  AS ACOL    /*TOBE컬럼영문명*/
      ,IFNULL(T_KOR_COLUMN_NAME,'NULL')  AS ACOLNM  /*TOBE컬럼한글명*/
      ,IFNULL(A_ENG_TABLE_NAME,'NULL')   AS TBL     /*ASIS테이블영문명*/
      ,IFNULL(A_KOR_TABLE_NAME,'NULL')   AS TBLNM   /*ASIS테이블한글명*/
      ,IFNULL(A_ENG_COLUMN_NAME,'NULL') AS COL     /*ASIS컬럼영문명*/
      ,IFNULL(A_KOR_COLUMN_NAME,'NULL')  AS COLNM   /*ASIS컬럼한글명*/
  FROM META_TABLE_MAP
 WHERE A_ENG_TABLE_NAME IN (${ASIS_TBL_LIST})
   AND T_ENG_TABLE_NAME IN (${TOBE_TBL_LIST})
   AND A_ENG_COLUMN_NAME IS NOT NULL
   AND T_ENG_COLUMN_NAME IS NOT NULL
ORDER BY T_ENG_TABLE_NAME, LENGTH(A_ENG_COLUMN_NAME) DESC]]>
	</select>
	
</mapper>